altgraph==0.17.2
autopep8==1.5.7
boto3==1.18.53
botocore==1.21.53
click==8.0.1
jmespath==0.10.0
mypy==0.910
mypy-extensions==0.4.3
pycodestyle==2.7.0
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.3
python-dateutil==2.8.2
s3transfer==0.5.0
six==1.16.0
toml==0.10.2
typing-extensions==3.10.0.2
urllib3==1.26.17
yt-dlp==2023.9.24
